@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}


header {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    height: 80px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

header a{
    font-size: 36px;
    font-weight: 500;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

main {
    margin-top: 80px;
}

#main {
    height: calc(100dvh - 80px);
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
}

#main h1{
    font-size: 196px;
    font-weight: 700;
}

#main p{
    font-size: 64px;
    font-weight: 600;
}

#main a {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 50px;
    animation: arrowAnimation 2s ease-in-out infinite;
}

@keyframes arrowAnimation {
    0% {
        bottom: 50px;
    }
    50% {
        bottom: 100px;
    }
    100% {
        bottom: 50px;
    }
}

#github {
    min-height: calc(100dvh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#github h1 {
    font-size: 96px;
}

#github p {
    font-size: 1.8rem;
    width: 75%;
    text-align: center;
}

#github ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none; 
}

#github ul li {
    font-size: 2.4rem;
    padding: 15px 40px;
    background: rgba(0, 0, 0, 0.15);
    text-align: center;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.05);
    border-radius: 35px;
    transition: all 0.3s ease-in-out;
}

#github ul li:hover {
    box-shadow: 0 0 75px 0 rgba(0, 0, 0, 0.25);
}

#git {
    min-height: calc(100dvh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#git h1 {
    font-size: 96px;
}

#git p {
    font-size: 1.8rem;
    width: 75%;
    text-align: center;
}

#git ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none; 
}

#git ul li {
    font-size: 2.4rem;
    padding: 15px 40px;
    background: rgba(0, 0, 0, 0.15);
    text-align: center;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.05);
    border-radius: 35px;
    transition: all 0.3s ease-in-out;
}

#git ul li:hover {
    box-shadow: 0 0 75px 0 rgba(0, 0, 0, 0.25);
}