@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}


header {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    height: 80px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

header a{
    font-size: 36px;
    font-weight: 500;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

main {
    margin-top: 80px;
}

#main {
    height: calc(100dvh - 80px);
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
}

#main h1{
    font-size: 196px;
    font-weight: 700;
}

#main p{
    font-size: 64px;
    font-weight: 600;
}

#main a {
    width: 5%;
    aspect-ratio: 1;
    position: absolute;
    bottom: 20px;
    animation: arrowAnimation 2s ease-in-out infinite;
}

@keyframes arrowAnimation {
    0% {
        bottom: 20px;
    }
    50% {
        bottom: 50px;
    }
    100% {
        bottom: 20px;
    }
}

#github {
    min-height: calc(100dvh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#github h1 {
    font-size: 96px;
}

#github p {
    font-size: 1.8rem;
    width: 75%;
    font-weight: 600;

    text-align: center;
}

#github ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none; 
}

#github ul li {
    font-size: 2.4rem;
    padding: 15px 40px;
    background: rgba(0, 0, 0, 0.15);
    text-align: center;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.05);
    border-radius: 35px;
    transition: all 0.3s ease-in-out;
}

#github ul li:hover {
    box-shadow: 0 0 75px 0 rgba(0, 0, 0, 0.25);
}

#git {
    min-height: calc(100dvh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#git h1 {
    font-size: 96px;
}

#git p {
    font-size: 1.8rem;
    width: 75%;
    font-weight: 600;
    text-align: center;
}

#git ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none; 
}

#git ul li {
    font-size: 2.4rem;
    padding: 15px 40px;
    background: rgba(0, 0, 0, 0.15);
    text-align: center;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.05);
    border-radius: 35px;
    transition: all 0.3s ease-in-out;
}

#git ul li:hover {
    box-shadow: 0 0 75px 0 rgba(0, 0, 0, 0.25);
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    gap: 200px;
    min-height: calc(100dvh - 80px);
}

#form h1 {
    font-size: 5rem;
}

#form form {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#form form input {
    font-size: 2rem;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    padding: 20px 48px;
    background: rgba(0, 0, 0, 0.1);
    font-size: 64px;
    border-radius: 35px;
    font-weight: 600;
}

#form form button {
    font-size: 3rem;
    width: 100%;
    padding: 20px 48px;
    border: 0;
    background: black;
    color: white;
    border-radius: 35px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

#form form button:hover {
    background: #222;
}

#form #userInfo {
    display: none;
    width: 80%;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 45px;
    background: rgba(0, 255, 0, 0.25);
    border: 10px dashed rgba(0, 255, 0, 0.35);
    align-items: center;
    margin-bottom: 50px;
    gap: 30px;
}

#form #userInfo img {
    border-radius: 20px;
}

#form #userInfo div {
    display: flex;
    flex-direction: column;
}

#form #userInfo h2 {
    font-size: 2.5rem;
}

#form #userInfo h3 {
    font-size: 2rem;
}

#form #userInfo p {
    font-size: 1.7rem;
}

#form #userInfo a {
    font-size: 1.7rem;
    color: white;
    background: black;
    text-decoration: none;
    padding: 20px;
    border-radius: 35px;
    margin-top: 20px;
    width: fit-content;
}

@media (max-width: 1400px) {
    #main h1 {
        font-size: 148px;
    }

    #main p {
        font-size: 2.4rem;
    }
    
    #form form {
        width: 40%;
    }

    #form h1 {
        font-size: 3rem;
    }

    #form form input {
        font-size: 2rem;
    }

    #form form button {
        font-size: 2rem;
    }

    main {
       display: flex;
       flex-direction: column;
       gap: 100px; 
    }
}

@media (max-width: 1000px) {
    header a {
        font-size: 1.75rem;
    }

    #main h1 {
        font-size: 5rem;
    }

    #main {
        gap: 25px;
    }

    #main p {
        font-size: 2rem;
    }


    #github h1 {
        font-size: 3.5rem;
    }

    #github p {
        font-size: 1.5rem;
    }

    #github ul li {
        font-size: 1.5rem;
    }

    #git h1 {
        font-size: 3.5rem;
    }

    #git p {
        font-size: 1.5rem;
    }

    #git ul li {
        font-size: 1.5rem;
    }

    #form form {
        width: 75%;
    }
}

@media (max-width: 600px) {
    main {
        margin-top: 0;
    }

    #main h1 {
        font-size: 3.8rem;
    }

    #main p {
        font-size: 1.5rem;
    }

    header {
        display: none;
    }

    #main a{
        width: 20%;
    }
} 